body{  
    background: radial-gradient(#ffd2d2, #badbe6) fixed;
    min-width: 1100px;
    overflow: auto
}
header{
    padding: 0 50px;
    height: 50px;
    line-height: 50px;
    background: rgba(255,255,255,0.6);
    &:after{
        @include clear;
    }
    h1{
        float: left;
        font-size: 24px;
    }
    nav{
        float: right;
        a{
            padding: 0 20px;
            font-weight: $bold;
        }
    }
}
//todo wrap
.todo{
    margin: 70px auto 0;
    width: 900px;
    .ipt{
        padding: 0 20px;
        width: 100%;
        height: 45px;
        line-height: 45px;
        font-size: 14px;
        box-sizing: border-box;
        background: none;
        border:none;
        &:focus, &:hover{
            outline: none;
            background: rgba(136,186,207,0.1);
        }
    }
    button{
        height: 45px;
        line-height: 45px;
        display:inline-block;
        vertical-align: middle;
        opacity: 0.8;
        &:hover{
            opacity: 1;
        }
    }
    .bx_ipt{
        width: 100%;
        border-radius: 10px;
        overflow: hidden;
        &:after{
            @include clear;
        }
        .ipt{
            width: calc(100% - 60px);
            float: left;
            border:$point solid 1px;
            border-right: none;
            border-radius: 10px 0 0 10px ;
        }
        .btn_com{
            font-size: 32px;
            font-weight: bold;
            background:$point;
            color: $white;
            width: 60px;
            height: 45px;
            overflow: hidden;
            float: left;
            text-align: center;
            &:before{
                content:"+";
                display: block;
                margin-top:-4px;
            }
        }
    }
    .content{
        margin-top:50px;
    }
    .no_data{
        margin: 0 0 20px;
        height: 350px;
        display:flex;
        justify-content: center;
        align-items: center;
        border-top:#cacaca 1px solid;
        border-bottom:#cacaca 1px solid;
    }
    .sort{
        margin-bottom: 30px;
        text-align: right;
    }
    .slct{
        padding: 5px 10px;
        border-radius: 5px;
        min-width: 150px;
        background: none;
        border: 1px solid $point;
        &:focus{
            outline:none;
        }
    }
    .lst{
        margin: 0 0 20px;
        min-height: 350px;
        .unit{
            line-height: 1.6;
            box-sizing: border-box;
            border-bottom:$point solid 1px;
            position: relative;
            display:flex;
            align-items: center;
            .view{
                width: 100%;
                padding: 10px 0 10px 45px;
                @include bg("chk.png", no-repeat, 10px 55%, 20px);
                box-sizing: border-box;
                line-height: 1.4;
            }
            .txt{
                display: block;
                width: calc(100% - 80px); 
            }
            .date{
                font-size: 12px;
                color: #999;
            }
            &.done{
                .view{
                    @include bg("chk_on.png", no-repeat, 10px 55%, 20px);
                }
                span{
                    text-decoration:line-through;
                    color: $point;
                }
                .txt{
                    width: calc(100% - 40px); 
                }
                .btn_modi{
                    display: none;
                }
            }
            &:hover{
                background: rgba(136,186,207,0.1);
            }
        }
        .modi{
            width: 100%;
        }
        .ghost{
            color:#b4babd;
            .view{
                @include bg("chk_dis.png", no-repeat, 10px 55%, 20px);
            }
            &.done{
                 .view{
                    @include bg("chk_on_dis.png", no-repeat, 10px 55%, 20px);
                }
                span{
                    color:#b4babd;
                }
            }
            .btn_modi{
                @include bg("btn_modi_dis.png", no-repeat, 50% 55%, 100%);
            }
            .btn_delete{
                @include bg("btn_delete_dis.png", no-repeat, 50% 50%, 100%);
            }
            .btn_com{
                @include bg("btn_com_dis.png", no-repeat, 50% 50%, 100%);
            }
            span,.ipt,.btn_cancle{
                color:#b4babd;
            }
        }
        .ipt{
            width: 100%; 
            min-height: 58px;
            height: 100%;
            padding: 10px 80px 10px 20px;
            float: left;
            border-right: none;
            &:focus{
                outline: none;
            }
        }
        button{
            position:absolute;
            top:0;
            z-index: 2;
            height: 100%;
        }
        .btn_modi{
            @include blind;
            @include bg("btn_modi.png", no-repeat, 50% 55%, 100%);
            width: 20px;
            right:45px;
        }
        .btn_delete{
            @include blind;
            @include bg("btn_delete.png", no-repeat, 50% 50%, 100%);
            width: 20px;
            right:10px;
        }
        .btn_com{
            @include blind;
            @include bg("btn_com.png", no-repeat, 50% 50%, 100%);
            width: 20px;
            right:10px;
        }
        .btn_cancle{
            font-size: 24px;
            font-weight: bold;
            width: 20px;
            right:45px;
            color:$point;
            display: flex;
            justify-content: center;
            align-items: center;
            &:before{
                content:"X";
                display: block;
                margin-top:-2px;
            }
            span{
                @include blind;
            }

        }
    }
    .bx_total{
        text-align: right;
        padding-right:5px;
        margin-bottom: 30px;
        font-size: 14px;
    }
    .btn_reset{
        float:right;
        padding: 0 20px;
        height: 45px;
        background: $point;
        border-radius: 5px;
        color:$white;
        font-weight: $bold;
    }
}
.calender{
    width: 1200px;
    margin:50px auto 70px;
    .top{
        line-height: 40px;
        &:after{
            @include clear;
        }
        h1{
            margin-bottom: 35px;
            float:left;
        }
        .btns{
            float: right;
            button{
                margin: 0 10px;
                padding: 10px 15px;
                background: $point;
                border-radius: 5px;
                color: $white;
            }
        }
    }
    .wrap{
        .bx{
            float: left;
            width: 14.28%;
            height: 120px;
            padding: 15px 0 0 20px;
            box-sizing: border-box;
            &.sun,&.rest{
                color: red;
            }
            &.sat{
                color:$point;
            }
            b{
                display: block;
            }
        }
        .tit{
            &:after{
                @include clear;
            }
            .bx{
                padding: 0;
                height: 40px;
                line-height: 40px;
                text-align:center;
                background: rgba(255,255,255,0.2);
            }
        }
        .cont{
            &:after{
                @include clear;
            }
            .bx{
                border-bottom:1px solid rgba(255,255,255,0.2);
            }
        }
    }
}