/*URL*/
$url: "../img/";
// /img/!~~~~ 쓰면 이미지가 안나옴...

/*Hashing*/
$version: "?v=20190416";

/*Font 및 Color*/
$family :Nanum Gothic;
$white: #ffffff;
$black : #575757;
$point : #77b2ca;
$gray : #404143; 
$red:#ff5959;
$bold:bold;